body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    background: #dcb8ea;
    padding: 22px 0;
   
}

.header-container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: #000000;
    font-size: 19px;
    margin-right: 60px;
    padding: 27px 6px;
}

.mainmenu a:hover {
    background: #ead917;
}

ul {
    display: flex;
}

nav {
    margin-top: 25px;
}


.top-slide {
    background: url(../img/Top.jpg) no-repeat;
    padding-top: 40px;
    padding-bottom: 250px;
}

.top-slide h2 {
    background: #ead917;
    display: inline;
    font-size: 45px;
    padding: 0 13px;
    
}

.top-container {
    width: 85%;
    margin: 0 auto;
}

.top-slide p {
    background: #414146;
    display: inline;
    font-size: 35px;
    padding: 0 4px;
    color: #ffffff;
}

.top-slide :nth-child(2) {
    margin-bottom: 6px;
}

.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.specialize-container h3 {
    font-size: 35px;
}

.specialize-container p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

.specialize-container-news {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.specialize-container-news h3 {
    padding: 15px 0 0;
    font-size: 35px;
}

.specialize-container-news p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

.news-card {
    display: flex;
    justify-content: space-between;
}


.text {
    background: #ead917;
    font-size: 20px;
}

.footer {
    position: absolute;
    background: #2f1c1c;
    width: 100%;
    white-space: nowrap;
    line-height: 70px;
    
}


.footer a{
    font-size:30px;
}

.namegas{
    text-align:center;
    padding-top:0px;
    padding-bottom:100px;
}

.footer-coppyright {
    font-size: 17px;
    color: #ffd800;
}





