body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

header {
    background: #dcb8ea;
    padding: 22px 0;
}

.header-container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

    .header-container li {
        list-style: none;
        display: flex;
    }

    .header-container a {
        color: #000000;
        font-size: 19px;
        margin-right: 60px;
        padding: 27px 6px;
    }

    .header-container ul {
        display: flex;
    }

.mainmenu a:hover {
    background: #ead917;
}


nav {
    margin-top: 25px;
}

.footer {
    position: absolute;
    background: #2f1c1c;
    width: 100%;
    line-height: 70px;
}


    .footer a {
        font-size: 30px;
    }

.footer-coppyright {
    font-size: 17px;
    color: #ffd800;
}

.info h3 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.info p {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.img {
    text-align: center;
    padding-bottom: 15px;
}
