@{
    ViewData["Title"] = "Контакты";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width = divice - width" />
    <title>Сеть автозаправок Форсаж</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Contacts.css">

</head>


<body>
    <script>src = "~/lib/jquery/dist/jquery.js"</script>
    <script src="~/js/mainpage.js"></script>

    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-action="Index">
                    <img src="~/img/Logo.jpg" alt="logo">
                </a>
            </div>
            <nav role="navigation">
                <ul class="mainmenu">
                    <li><a asp-action="Index">Домой</a></li>
                    <li><a asp-action="Stocks">Акции</a></li>
                    <li><a asp-action="Vacancies">Вакансии</a></li>
                    <li><a asp-action="AboutUs">О Нас</a></li>

                </ul>
            </nav>
        </div>

    </header>


    <main>

        <section class="information">
            <div class="info">
                <div>
                    <h3>Контакты главных офисов сети АЗС «Форсаж»</h3>
                </div>
                <div class="positionoffice">
                    <h3>Офис в г. Киев</h3>
                </div>
                <div>
                    <p>Адрес: ул. Хрещатик, дом 18 </p>
                    <p>Номер телефона: 0994767412</p>
                    <p>Почта: pochtakiev@gmail.com</p>
                </div>
                <br>
                <div class="positionoffice">
                    <h3>Офис в г. Днепр</h3>
                </div>
                <div>
                    <p>Адрес: проспект Дмитрия Яворницкого, дом 58</p>
                    <p>Номер телефона: 0994767412</p>
                    <p>Почта: pochtadnepr@gmail.com</p>
                </div>
                <br>
                <div class="positionoffice">
                    <h3>Офис в г. Харьков</h3>
                </div>
                <div>
                    <p>Адрес: ул. Чкалова, дом 1а</p>
                    <p>Номер телефона: 0994767412</p>
                    <p>Почта: pochtakharkov@gmail.com</p>
                </div>
                <div>
                    <h3>Офисы на карте</h3>
                </div>
                <div id="map">

                </div>
                
            </div>
        </section>

    </main>
    <footer class="footer text-center">
        <div class="container">
            <a href="https://www.facebook.com/Microsoft/">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/microsoft">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/microsoft">
                <i class="fa fa-youtube"></i>
            </a>
        </div>

        <div class="footer-coppyright">
            Andrew Chernenko
        </div>
    </footer>


    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 50.4502698, lng: 30.5243489 };
            var uluru1 = { lat: 48.4667929, lng: 35.0423928 };
            var uluru2 = { lat: 50.0438207, lng: 36.2781221 };

            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 6, center: uluru2 });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
            var marker1 = new google.maps.Marker({ position: uluru1, map: map });
            var marker2 = new google.maps.Marker({ position: uluru2, map: map });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChgFKEp9e9qw744k2setxKDLA_dqbTYY8&callback=initMap">
    </script>


</body>



</html>

