@{
    ViewData["Title"] = "Новости";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width = divice - width" />
    <title>Сеть автозаправок Форсаж</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/News.css">

</head>


<body>
    <script>src = "~/lib/jquery/dist/jquery.js"</script>
    <script src="~/js/mainpage.js"></script>

    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-action="Index">
                    <img src="~/img/Logo.jpg" alt="logo">
                </a>
            </div>
            <nav role="navigation">
                <ul class="mainmenu">
                    <li><a asp-action="Index">Домой</a></li>
                    <li><a asp-action="Stocks">Акции</a></li>
                    <li><a asp-action="Vacancies">Вакансии</a></li>
                    <li><a asp-action="Contacts">Контакты</a></li>
                    <li><a asp-action="AboutUs">О Нас</a></li>

                </ul>
            </nav>
        </div>

    </header>


    <main>


        <section class="information">
            <div class="info">
                <div>
                    <h3>АЗС «Форсаж» в программе «Качество под контролем»</h3>
                </div>
                <div>
                    <p>Сеть автозаправочных станций Форсаж присоединилась к программе постоянного мониторинга качества нефтепродуктов Института потребительских экспертиз - «Качество под контролем».</p>
                    <br>
                    <p>Проверку в лаборатории прошли основные марки светлых нефтепродуктов, сеть Форсаж предлагает автомобилистам: «А-92», «А-95», дизельное топливо. Пробы были проверены на соответствие ключевым параметрам, в частности для бензина это октановое число, которое характеризует стойкость топлива к детонации, содержание серы и бензола, превышение допустимого количества которых наносит вред как окружающей среде, так и автомобилю, массовая доля ароматических углеводородов и т.д. Проверка подтвердила соответствие нормативам профильных стандартов.</p>
                    <div class="img">
                        <img src="~/img/News2.jpg">
                    </div>
                    <p>Справка: основной задачей программы «Качество под контролем» является постоянный мониторинг качества топлива на отечественных АЗК, участвующих в программе. Эксперты Института потребительских экспертиз ежемесячно проводят тайные закупки горючего на заправках, отправляют образцы в сертифицированную лабораторию, где их и проверяют на соответствие профильным ДСТУ.</p>
                    <br>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer text-center">
        <div class="container">
            <a href="https://www.facebook.com/Microsoft/">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/microsoft">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/microsoft">
                <i class="fa fa-youtube"></i>
            </a>
        </div>

        <div class="footer-coppyright">
            Andrew Chernenko
        </div>
    </footer>




</body>



</html>

