@{
    ViewData["Title"] = "Вакансии";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width = divice - width" />
    <title>Сеть автозаправок Форсаж</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Vacancies.css">

</head>


<body>

    <script>src = "~/lib/jquery/dist/jquery.js"</script>
    <script src="~/js/mainpage.js"></script>

    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-action="Index">
                    <img src="~/img/Logo.jpg" alt="logo">
                </a>

            </div>

            <nav role="navigation">
                <ul class="mainmenu">
                    <li><a asp-action="Index">Домой</a></li>
                    <li><a asp-action="Stocks">Акции</a></li>
                    <li><a asp-action="Contacts">Контакты</a></li>
                    <li><a asp-action="AboutUs">О Нас</a></li>
                </ul>
            </nav>

        </div>

    </header>


    <main>

        <section class="description">
                <div class="info">
                    <div>
                        <h3>Тут вы сможете найти подходящую для себя вакансию</h3>
                    </div>
                    <div>
                        <p>
                            Сеть АЗС «Форсаж» ищет ответственных и неравнодушных работников, способных развиваться вместе с компанией и готовых всегда прийти на помощь, как нашим клиентам, так и своим коллегам.
                        </p>
                        <br>
                        <p>
                            В свою очередь, «АЗС Форсаж» предлагает своим сотрудникам:
                        </p>
                        

                        <ul class="vacancion">
                            <li>официальное трудоустройство и социальные гарантии;</li>
                            <li>удобный график работы;</li>
                            <li>стабильную и достойную зарплату;</li>
                            <li>приобретение полезного опыта, повышение квалификации, карьерный и профессиональный рост;</li>
                            <li>приветливый и заботливый коллектив, способный помочь вам освоиться в бизнесе и поддержать в трудную минуту.</li>

                        </ul>

                        <p>Главное кредо компании - это высокий сервис обслуживания, внимание к клиенту, стремление сделать каждого водителя постоянным гостем нашей сети АЗС.</p>
                    </div>
                </div>
            </section>

        <section class="vacancion">
            <div class="vacancion-info">
                <div>
                    <h3>Открытые вакансии на сегодняшний день</h3>
                </div>
                <div class="headline">
                    <div class="mainhead">
                        <h3>Инженер-электрик</h3>
                    </div>
                    <h3> Требования:</h3>
                    <ul>
                        <li>высшее образование;</li>
                        <li>уверенный пользователь ПК (MS Office, Excel, 1С, 8.2);</li>
                        <li>опыт работы на инженерно-технических должностях не менее 2 лет;</li>
                        <li>3 группа допуска по электробезопасности;</li>
                        <li>знание правил и порядок оформления документации в соответствии с действующим законодательством.</li>
                    </ul>

                    <h3>Обязанности:</h3>

                    <ul>
                        <li>обеспечение объектов электроэнергией;</li>
                        <li>проведения аварийных работ;</li>
                        <li>проведення навчання персоналу по експлуатації електрообладнання;</li>
                        <li>контроль работы электротехнического оборудования.</li>
                    </ul>

                    <h3>Мы предлагаем:</h3>
                    <ul>
                        <li>официальное трудоустройство, работа в стабильной компании;</li>
                        <li>командировки по Украине;</li>
                        <li>возможности для профессионального и карьерного развития.</li>
                    </ul>
                    <br>
                    <div class="mainhead">
                        <h3>Системный администратор, IT-специалист технической поддержки (Service Desk)</h3>
                    </div>
                    <h3> Требования:</h3>
                    <ul>
                        <li>высшее образование (техническое);</li>
                        <li>уверенный пользователь ПК (MS Office);</li>
                        <li>опыт работы не менее 1 года на аналогичной должности;</li>
                        <li>знание аппаратной части компьютера и периферийного оборудования (МФУ, принтер, сканер, телефонный аппарат, факс);</li>
                        <li>
                            необходимые навыки первичной диагностики компьютерного и периферийного оборудования, наладка и обслуживание рабочих <br>
                            станций (установка и конфигурация операционной системы и офисного ПО);
                        </li>
                        <li>опыт работы системным администратором будет преимуществом.</li>
                    </ul>
                    <h3>Обязанности:</h3>
                    <ul>
                        <li>прием звонков и консультирование пользователей АЗС по работе с программным и аппаратным обеспечением;</li>
                        <li>обеспечение бесперебойной работы персональных рабочих станций пользователей и периферийного оборудования;</li>
                        <li>установка системного и прикладного программного обеспечения, его конфигурация;</li>
                        <li>обеспечение технического обслуживания аппаратных средств предприятия, первичный ремонт оборудования.</li>
                    </ul>
                    <h3>Мы предлагаем:</h3>
                    <ul>
                        <li>официальное трудоустройство;</li>
                        <li>высокую оплату труда;</li>
                        <li>возможности для профессионального и карьерного развития.</li>
                    </ul>
                    <br>
                    <div class="mainhead">
                        <h3>Юрист</h3>
                    </div>
                    <h3>Требования:</h3>
                    <ul>
                        <li>опыт работы не менее 3-х лет;</li>
                        <li>высшее юридическое образование;</li>
                        <li>знание хозяйственного, гражданского, налогового, административного и трудового права;</li>
                        <li>опыт работы с нефтепродуктами будет преимуществом.</li>
                    </ul>
                    <h3>Обязаности:</h3>
                    <ul>
                        <li>сопровождение хозяйственной деятельности компании;</li>
                        <li>составление и ведение договоров гражданско-правового характера;</li>
                        <li>составление и юридический анализ договоров, доп. соглашений, претензий, исковых заявлений, писем, заявлений, запросов и других документов;</li>
                        <li>взаимодействие с контролирующими органами.</li>
                    </ul>
                    <h3>Мы предлагаем:</h3>
                    <ul>
                        <li>официальное трудоустройство, работа в стабильной компании;</li>
                        <li>график работы с 9.00 до 18.00 с пн-пт;</li>
                        <li>возможности для профессионального и карьерного развития.</li>
                    </ul>
                    <br>
                    <div class="mainhead">
                        <h3>Начальник АЗС (г.Харьков)</h3>
                    </div>
                    <h3>Требования:</h3>
                    <ul>
                        <li>высшее образование;</li>
                        <li>уверенный пользователь ПК (MS Office);</li>
                        <li>опыт работы начальником АЗС от 1 года;</li>
                    </ul>
                    <h3>Обязаности:</h3>
                    <ul>
                        <li>руководство и контроль бесперебойной работы АЗС;</li>
                        <li>организация эффективной работы сотрудников, обучение персонала на рабочем месте стандартам обслуживания, активным продажам;</li>
                        <li>ведение технической и учетной документации;</li>
                        <li>контроль кассовой дисциплины, соблюдения операционных стандартов, технического состояния и правильной эксплуатации АЗС.</li>
                    </ul>
                    <h3>Мы предлагаем:</h3>
                    <ul>
                        <li>официальное трудоустройство, работа в стабильной компании;</li>
                        <li>график работы с 9.00 до 18.00 с пн-пт;</li>
                        <li>возможности для профессионального и карьерного развития.</li>
                    </ul>
                    <br>
                    <div class="info">
                    <p>Подробная информация по телефону 8-800-555-35-35 Андрей, или присылайте резюме с указанием заработной платы на почту a.chernenko@khai.edu.ua</p>
                    </div>
                    <br>
                </div>
                    
            </div>
        </section>



</main>

    <footer class="footer text-center">
        <div class="container">
            <a href="https://www.facebook.com/Microsoft/">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/microsoft">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/microsoft">
                <i class="fa fa-youtube"></i>
            </a>
        </div>

        <div class="footer-coppyright">
            Andrew Chernenko
        </div>
    </footer>

</body>



</html>
